.circle {
  margin: 15px;
  margin-top: 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(199, 69, 52);
}

button {
  padding: 3px 15px;
  margin: 7px;
}